#search-filters-icon{
    cursor: pointer;
}
.search-header .filter-colum{
    display: none;
}
input:checked+span{
    color: #0909d6;
}
time{
    bottom: 7px;
    left: 10px;
}
.card .card-horizontal .card-body p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-body{
    min-width: 0;
}
@media (max-width: 767px) {
    .card .card-top-image{
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .card .card-horizontal .card-body .channel-img{
        display: block;
        margin-top: 10px;
    }
    .card .card-horizontal .card-body .channel-img>img {
        margin-right: 0px !important;
    }
}